@import url("../value/color.css");
@import url("../value/imgPath.css");
.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}


/* ナビゲーションボタンの設定 */

.navDrawerButtonShadow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 20px;
    top: 2px;
}


/* ナビゲーションボタンにカーソルが重なった時の設定 */

.navDrawerButtonShadow:hover {
    background-color: var(--menuButtonShadow);
}

label .image {
    left: 15px;
    top: 15px;
    background: var(--drawerButtonIcon);
    width: 50px;
    height: 50px;
}

#navOpen {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

#navOpen span:before {
    bottom: -8px;
}

#navOpen span:after {
    bottom: -16px;
}


/*閉じる用の薄黒カバー*/

#navClose {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}


/*中身*/

#navContent {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 400px;
    height: 100%;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}


/*チェックが入ったらもろもろ表示*/

#navInput:checked~#navClose {
    display: block;
    /*カバーを表示*/
    opacity: .5;
}

#navInput:checked~#navContent {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px var(--drawerShadow);
}

.navHeaderImage {
    width: 100%;
    height: 350px;
    max-width: 400px;
    background-image: var(--funImage);
}

.navProfileIconImage {
    bottom: 10px;
    right: 10px;
    background-image: var(--myIcon);
    background-size: 120%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: left top;
}

.menuContent {
    width: 100%;
    top: 0px;
    height: 100%;
}

.listIcon {
    width: 32px;
    margin-top: 8px;
    margin-left: 20px;
}

.menuText {
    left: 60px;
    font-size: var(--navMenuFontSize);
}

.introductionIcon {
    height: 50px;
    background: var(--introductionIcon);
    background-repeat: no-repeat;
}

#introductionBackgroundColor {
    background-color: var(--menuButtonSelected);
}

.introduction_j:after {
    content: var(--introduction_j);
}

.introduction_e:after {
    content: var(--introduction_e);
}

.activityIcon {
    height: 50px;
    background: var(--activityIcon);
    background-repeat: no-repeat;
}

#activityBackgroundColor {
    background-color: var(--backgroundBlack);
}

.activity_j:after {
    content: var(--activity_j);
}

.activity_e:after {
    content: var(--activity_e);
}

.productionIcon {
    height: 50px;
    background: var(--productionIcon);
    background-repeat: no-repeat;
}

#productionBackgroundColor {
    background-color: var(--backgroundBlack);
}

.production_j:after {
    content: var(--production_j);
}

.production_e:after {
    content: var(--production_e);
}

.linkIcon {
    height: 50px;
    background: var(--linkIcon);
    background-repeat: no-repeat;
}

.linkBackgroundColor {
    background-color: var(--backgroundBlack);
}

.link_j:after {
    content: var(--link_j);
}

.link_e:after {
    content: var(--link_e);
}

.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    width: 100%;
    margin: 0px;
}

.tabItem {
    width: 100%;
    height: 50px;
    line-height: 50px;
    float: left;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tabItem:hover {
    /* background-color: var(--menuButtonShadow); */
    opacity: 0.25;
}

#introduction:checked~#introductionContent,
#activity:checked~#activityContent,
#production:checked~#productionContent,
#link:checked~#linkContent {
    display: block;
}


/* .tabs input:checked+.tabItem {
    background-color: #5ab4bd;
    color: #fff;
} */