:root {
    --black: #000000;
    --backgroundBlack: #363434;
    --white: #ffffff;
    --menuButtonShadow: #ffffff46;
    --drawerShadow: #0000000f;
    --contentTitleBorder: #b3b3b3;
    --menuButtonSelected: #5ab4bd;
}

.backgroundBlack {
    background-color: var(--backgroundBlack);
}

.topBorderBlack {
    border-top: medium solid var(--black);
}

.backgroundGray {
    background-color: var(--whiteShadow);
}

.colorWhite {
    color: var(--white);
}

.backgroundWhite {
    background-color: var(--white);
}