@import url("../value/color.css");
:root {
    --hiraginoMaru: "ヒラギノ丸ゴ ProN";
    --portfolioTitleFontSize: 42px;
    --navMenuFontSize: 24px;
    --contentTitleFont_j_Size: 40px;
    --contentTitleFont_e_Size: 25px;
}